.preview_container {
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #0000002c;
    overflow: hidden;
    overscroll-behavior: contain;
}

.placeholder {
    padding: 40px 20px;
}

.preview_Image {
    display: block;
    width: 100%;
    height: auto;
    max-height:600px;
    object-fit: contain;
    padding: 10px;
    /* background: #f9f9f9; */
    user-select: none;
    pointer-events: none;
}

.imgName {
    display: flex;
    margin-left: 5px;
}

.zoom {
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.tools {
    text-align: center;
}

.magnifier {
    max-width: 25px;
}