.output_selection {
    display: flex;
    border-bottom: 1px solid #dee2e6;
}

.selection {
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease;
}

.selection:hover {
    color: #869494;
    border-bottom-color: #a0adad;
}

.selection.active {
    color: #627575;
    border-bottom-color: #627575;
}

.output_content {
    min-height: 300px;
    /* padding: 3px; */
    /* border: 1px solid #dee2e6; */
    border-radius: 8px;
    font-size: 0.95rem;
    line-height: 1.5;
    /* overflow-y: auto; */
    /* overflow:scroll; */
}

.code_area {
    width: 100%;
    min-height: 300px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.95rem;
    padding: 15px;
    border-radius: 8px;
    border: none;
    resize: vertical;
    outline: 1px solid #dee2e6;
    max-height: 600px;
}

.fw-300 {
    font-weight: 300;
}

.copytext {
    margin-left: auto;
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease;
    width: fit-content;
    min-width: 138px;
    
}

.copyBtn {
    padding: 3px;
    margin: 6px;
}

.copytext:hover {
    border-bottom-color: #a0adad;
}

.copyBtn:hover {
    color: #869494;
}

.copyBtn img {
    position: absolute;
    margin-top: 2px;
}

.copyBtn span {
    margin-left: 20px;
}

.download_Btn {
    padding: 3px;
    margin: 6px;
    min-width: 130px;
}

.download_Btn:hover {
    color: #869494;
}

.download_Btn span {
    margin-left: 20px;
}

.download_Btn img {
    position: absolute;
    margin-top: 1px;
}

.downloadBtnDiv {
    margin-left: auto;
    width: fit-content;
    transition: all 0.4s ease;
    border-top: 3px solid transparent;
}

.downloadBtnDiv:hover {
    border-top-color: #a0adad;
}