.output_selection {
    display: flex;
    border-bottom: 1px solid #dee2e6;
}

.selection {
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease;
}

.selection:hover {
    color: #869494;
    border-bottom-color: #a0adad;
}

.selection.active {
    color: #627575;
    border-bottom-color: #627575;
}

.output_content {
    min-height: 300px;
    padding: 16px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    font-size: 0.95rem;
    line-height: 1.5;
    max-height: 600px;
    overflow-y: auto;
    overflow:scroll;
}