* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  background: #fff;
  color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

/* .headerSection {
  min-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.18);
  transition: all 0.3s ease;
  margin-bottom: 10px;
  border-radius: 12px;
  padding: 15px;
} */

.container {
  min-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.18);
  transition: all 0.3s ease;
  margin-bottom: 24px;
  border-radius: 12px;
  padding: 15px;
}

.container:hover {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 21px;
  color: #627575;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid #627575;
  display: inline-block;
}

header {
  margin-bottom: 35px;
}

button {
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}